.team__imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.team__img {
  width: 15%;
  margin: 20px;
}
.team__img__name {
  font-size: 1.3rem;
  text-align: center;
  padding: 10px;
}
.speech__description p {
  text-align: center;
}
.img_wrapper {
  overflow: hidden;
  height: 80%;
}

.img_wrapper img {
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;

  -webkit-transition: opacity 150ms;
  -moz-transition: opacity 150ms;
  -ms-transition: opacity 150ms;
  transition: opacity 150ms;
}
.img_wrapper.loaded img {
  opacity: 1;
}
.team__img__name-min {
  font-size: 0.75rem;
  text-align: center;
}
.font__medium {
  font-size: 1.3rem;
}
